/* ================= ROOT (WAJIB ADA) ================= */

:root {
  --result-test: calc(var(--pos_y_planet) - var(--scrollYport));
}

html, body {
  margin: 0;
  padding: 0;
}

.bacgroundscreensolid {
  background-color: black;
  margin: 0;
}

.orignial-image-scene{
  background-image:url("image/info/TestOriginalGlow.png");
  z-index:0;
  inset:0;
  width:100vw;
  height:100vh;
  pointer-events:none;
  background-size:cover;
  background-position:center;
  position:fixed;
}

/* ================= BODY ================= */
body {
  background-color: rgb(6, 7, 12);
  overscroll-behavior: none;
  color: white;
  position: relative;
  z-index: 0;
}

/* ================= SCENE ================= */
.scene {
  overflow: hidden;
  margin: auto;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  margin-bottom: 0px;
}

/* ================= LAYERS ================= */

.layer-surface {
  position: absolute;
  inset: 0;
  z-index: 0;
}

#layer2 {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  background-color: black;
  filter: blur(10px) brightness(calc(2 + var(--rand)));
  mix-blend-mode: screen;
}

/* #layer3 {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  background-color: black;
  filter: blur(120px) brightness(calc(2 + var(--rand)));
  mix-blend-mode: screen;
} */


:root {
  --window-y: 0px;
}

#layer2 .orignial-image-scene{
  background-image:url("image/info/TestVFXGlow.png");
  position: fixed;
  top: 0;
  left: 0;

  transform: translate3d(0, var(--window-y), 0);
  will-change: transform;

  backface-visibility: hidden; /* anti flicker */
  contain: layout style paint; /* isolate rendering */
}

#layer3 .orignial-image-scene{
  background-image:url("image/info/TestVFXGlow.png");
  position: fixed;
  top: 0;
  left: 0;

  transform: translate3d(0, var(--window-y), 0);
  will-change: transform;

  backface-visibility: hidden; /* anti flicker */
  contain: layout style paint; /* isolate rendering */
}

#layer2 .inanimate-objects {
  filter: brightness(0);
}

#layer3 .inanimate-objects {
  filter: brightness(0);
}