html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  background-color: #000;
  width: 100%;
  height: 100%;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.bg-black
{
  background-color: #000;
}

.bg-gray-800
{
  background-color: #1a1a1a;
}

.stroke-img {
  border:2px solid #ffffff;
}

.drop-shadow-small
{
  filter: drop-shadow(30px 10px 4px #000);
}

.drop-shadow-normal
{
  filter: drop-shadow(0px 10px 8px #000);
}

.drop-shadow-big
{
  filter: drop-shadow(0px 10px 16px #000);
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.parallax_group {
  position: relative;
  height: 100vh;
  width: 100vw;
  transform-style: preserve-3d;s
}

.parallax_background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* .background_srpd {
  background: url('aosrpdblur.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-3000px) scale(18);
  z-index: 1;
} */

.background_s1 {
  background: url('smoke1.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-3000px) scale(18);
  z-index: 1;
}

.background_s2 {
  background: url('smoke2.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-2000px) scale(15);
  z-index: 2;
}

.background_s3 {
  background: url('smoke3.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-350px) scale(4);
  z-index: 3;
}

.hero-text {
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 4;

}

@media (min-width: 1px) {
  .background_s1,.background_s2,.background_s3,.hero-text {
    background-size: contain;
  }
}
