.drop-shadow-small
{
  filter: drop-shadow(30px 10px 4px #000);
}

.drop-shadow-normal
{
  filter: drop-shadow(0px 10px 8px #000);
}
    
.drop-shadow-big
{
  filter: drop-shadow(0px 10px 16px #000);
}
